.imgTshirt {
    position: relative;
    
}
.memeText {
    position: absolute;
    top: 140px;

}
.memeText img {
    max-width: 300px;
    max-height: 400px;
    border: #fff solid 6px;
}
.memeText p {
    font-family: Impact, sans-serif;
    color: #fff;
}
.lowerText p {
    margin-top: 15px;
}
.size-img {
    max-width: 300px !important;
    max-height: 400px !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50% !important;
}
